Repository hszk-dev/echo-sphere: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-agent, format-agent, typecheck-agent

lefthook.yml:

# https://github.com/evilmartians/lefthook
# Pre-commit hooks for EchoSphere

pre-commit:
  parallel: true
  commands:
    lint-web:
      glob: "apps/web/src/**/*.{ts,tsx}"
      run: pnpm --filter @echo-sphere/web lint --max-warnings=0

    lint-agent:
      glob: "apps/agent/**/*.py"
      root: "apps/agent/"
      run: uv run ruff check {staged_files}

    format-agent:
      glob: "apps/agent/**/*.py"
      root: "apps/agent/"
      run: uv run ruff format --check {staged_files}

    typecheck-agent:
      glob: "apps/agent/**/*.py"
      root: "apps/agent/"
      run: uv run mypy {staged_files}

pre-push:
  parallel: true
  commands:
    test-web:
      run: pnpm --filter @echo-sphere/web test --run

    test-agent:
      root: "apps/agent/"
      run: uv run pytest tests/unit -q

fix: update documentation URL in issue template
  .github/ISSUE_TEMPLATE/config.yml
  lefthook.yml
Due: none

fix(ci): resolve pnpm version conflict and uv setup
  .github/workflows/ci.yml
Due: none

chore: add MCP server configuration and update gitignore
  .gitignore
  .mcp.json
Due: none

refactor(docs): modularize CLAUDE.md with imports
  CLAUDE.md
Due: none

refactor(docs): optimize CLAUDE.md for Claude 4 best practices
  CLAUDE.md
Due: none

feat(web): add official frontend-design skill
  .claude/skills/frontend-design/LICENSE.txt
  .claude/skills/frontend-design/SKILL.md
Due: none

docs: add Phase 1 voice interaction design and implementation plan
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: none

docs: use LiveKitRoom component for React 18 Strict Mode compatibility
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: none

docs: optimize Phase 1 design with LiveKit SDK built-ins
  docs/architecture/tech-stack.md
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: none

feat(agent): add LiveKit Agents 1.3.5 with AWS plugins
  .env.example
  apps/agent/agent.py
  apps/agent/pyproject.toml
  apps/agent/uv.lock
Due: none

feat(agent): add LiveKit Agents 1.3.5 with AWS plugins (#19)
  .env.example
  apps/agent/agent.py
  apps/agent/pyproject.toml
  apps/agent/uv.lock
Due: none

docs: add frontend design system and update Phase 1 implementation plan
  docs/design/frontend-design-system.md
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: none

docs: add frontend design system and update Phase 1 implementation plan (#21)
  docs/design/frontend-design-system.md
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: none

feat(web): add design system with custom fonts, colors, and dark mode
  apps/web/biome.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/fonts/CabinetGrotesk-Bold.woff2
  apps/web/src/fonts/CabinetGrotesk-Extrabold.woff2
  apps/web/tailwind.config.ts
  lefthook.yml
Due: lint-web

feat(web): add design system with custom fonts, colors, and dark mode (#22)
  apps/web/biome.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/fonts/CabinetGrotesk-Bold.woff2
  apps/web/src/fonts/CabinetGrotesk-Extrabold.woff2
  apps/web/tailwind.config.ts
  lefthook.yml
Due: lint-web

feat(agent): implement basic agent worker with hexagonal architecture
  apps/agent/agent.py
  apps/agent/src/adapters/inbound/__init__.py
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/main.py
  docker-compose.yml
Due: lint-agent, format-agent, typecheck-agent

feat(agent): implement basic agent worker with hexagonal architecture (#23)
  apps/agent/agent.py
  apps/agent/src/adapters/inbound/__init__.py
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/main.py
  docker-compose.yml
Due: lint-agent, format-agent, typecheck-agent

feat(agent): integrate AWS AI pipeline with noise cancellation
  apps/agent/src/adapters/inbound/livekit_worker.py
Due: lint-agent, format-agent, typecheck-agent

feat(web): install LiveKit packages for real-time voice interaction
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat(web): add token generation API for LiveKit room access
  apps/web/biome.json
  apps/web/src/app/api/token/route.ts
Due: lint-web

feat(web): add voice-room feature module with LiveKit integration
  apps/web/src/features/voice-room/components/VoiceRoom.tsx
  apps/web/src/features/voice-room/hooks/useToken.ts
  apps/web/src/features/voice-room/index.ts
  apps/web/src/features/voice-room/types/index.ts
Due: lint-web

feat(web): add type-safe environment configuration
  apps/web/.env.local.example
  apps/web/src/config/env.ts
Due: lint-web

feat(web): Phase 1 Frontend Voice Room Foundation (#24)
  apps/web/.env.local.example
  apps/web/biome.json
  apps/web/package.json
  apps/web/src/app/api/token/route.ts
  apps/web/src/config/env.ts
  apps/web/src/features/voice-room/components/VoiceRoom.tsx
  apps/web/src/features/voice-room/hooks/useToken.ts
  apps/web/src/features/voice-room/index.ts
  apps/web/src/features/voice-room/types/index.ts
  pnpm-lock.yaml
Due: lint-web

feat(agent): integrate AWS AI pipeline with noise cancellation (#26)
  apps/agent/src/adapters/inbound/livekit_worker.py
Due: lint-agent, format-agent, typecheck-agent

feat(web): add transcript panel with real-time conversation display
  apps/web/src/features/voice-room/components/TranscriptPanel.tsx
  apps/web/src/features/voice-room/components/VoiceRoom.tsx
  apps/web/src/features/voice-room/index.ts
Due: lint-web

feat(web): add room page with participant name prompt
  apps/web/src/app/room/[roomId]/page.tsx
Due: lint-web

feat(web): update landing page and fix TranscriptPanel hooks
  README.md
  apps/web/src/app/page.tsx
  apps/web/src/features/voice-room/components/TranscriptPanel.tsx
  docker-compose.yml
Due: lint-web

feat(agent): add PostgreSQL session storage with Alembic migrations
  .env.example
  apps/agent/alembic.ini
  apps/agent/alembic/env.py
  apps/agent/alembic/script.py.mako
  apps/agent/alembic/versions/20241130_0001_001_initial_schema.py
  apps/agent/pyproject.toml
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/adapters/outbound/__init__.py
  apps/agent/src/adapters/outbound/database.py
  apps/agent/src/adapters/outbound/postgres_session.py
  apps/agent/src/application/ports/__init__.py
  apps/agent/src/application/ports/session_repository_port.py
  apps/agent/src/config/settings.py
  apps/agent/src/domain/entities/__init__.py
  apps/agent/src/domain/entities/message.py
  apps/agent/uv.lock
Due: lint-agent, format-agent, typecheck-agent

fix(web): address PR review feedback for voice-room feature
  apps/web/src/app/api/token/route.ts
  apps/web/src/features/voice-room/components/TranscriptPanel.tsx
  apps/web/src/features/voice-room/components/VoiceRoom.tsx
  apps/web/src/features/voice-room/hooks/useToken.ts
  apps/web/src/features/voice-room/types/index.ts
  apps/web/src/shared/types/index.ts
  apps/web/src/shared/types/livekit.ts
Due: lint-web

feat(web): Phase 1 Frontend - Landing Page & TranscriptPanel Fix (#27)
  README.md
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/web/src/app/api/token/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/room/[roomId]/page.tsx
  apps/web/src/features/voice-room/components/TranscriptPanel.tsx
  apps/web/src/features/voice-room/components/VoiceRoom.tsx
  apps/web/src/features/voice-room/hooks/useToken.ts
  apps/web/src/features/voice-room/index.ts
  apps/web/src/features/voice-room/types/index.ts
  apps/web/src/shared/types/index.ts
  apps/web/src/shared/types/livekit.ts
  docker-compose.yml
Due: lint-web, lint-agent, format-agent, typecheck-agent

feat(agent): add PostgreSQL session storage with Alembic migrations (#28)
  .env.example
  apps/agent/alembic.ini
  apps/agent/alembic/env.py
  apps/agent/alembic/script.py.mako
  apps/agent/alembic/versions/20241130_0001_001_initial_schema.py
  apps/agent/pyproject.toml
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/adapters/outbound/__init__.py
  apps/agent/src/adapters/outbound/database.py
  apps/agent/src/adapters/outbound/postgres_session.py
  apps/agent/src/application/ports/__init__.py
  apps/agent/src/application/ports/session_repository_port.py
  apps/agent/src/config/settings.py
  apps/agent/src/domain/entities/__init__.py
  apps/agent/src/domain/entities/message.py
  apps/agent/uv.lock
Due: lint-agent, format-agent, typecheck-agent

feat(agent): add configurable AWS and agent settings
  .env.example
  apps/agent/agent.py
  apps/agent/alembic/env.py
  apps/agent/alembic/versions/20241130_0001_001_initial_schema.py
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/config/settings.py
Due: lint-agent, format-agent, typecheck-agent

feat(agent): add OpenTelemetry distributed tracing
  .env.example
  apps/agent/agent.py
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/config/__init__.py
  apps/agent/src/config/settings.py
  apps/agent/src/config/tracing.py
Due: lint-agent, format-agent, typecheck-agent

feat(agent): add Jaeger for OTEL trace visualization
  .env.example
  apps/agent/src/config/settings.py
  docker-compose.yml
  docs/architecture/tech-stack.md
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: lint-agent, format-agent, typecheck-agent

test(agent): add comprehensive Session entity edge case tests
  apps/agent/tests/unit/test_session.py
Due: lint-agent, format-agent, typecheck-agent

feat(agent): integrate LiveKit's official tracing API
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/config/__init__.py
  apps/agent/src/config/tracing.py
Due: lint-agent, format-agent, typecheck-agent

test(agent): add Message entity unit tests for 100% domain coverage
  apps/agent/tests/unit/test_message.py
Due: lint-agent, format-agent, typecheck-agent

feat(agent): complete Epic 1 remaining tasks (Settings, OpenTelemetry, Tests) (#45)
  .env.example
  apps/agent/agent.py
  apps/agent/alembic/env.py
  apps/agent/alembic/versions/20241130_0001_001_initial_schema.py
  apps/agent/src/adapters/inbound/livekit_worker.py
  apps/agent/src/config/__init__.py
  apps/agent/src/config/settings.py
  apps/agent/src/config/tracing.py
  apps/agent/tests/unit/test_message.py
  apps/agent/tests/unit/test_session.py
  docker-compose.yml
  docs/architecture/tech-stack.md
  docs/design/phase-1-implementation-plan.md
  docs/design/phase-1-voice-interaction.md
Due: lint-agent, format-agent, typecheck-agent

feat(agent): implement recording domain and service layer
  .env.example
  apps/agent/alembic/versions/20241130_0002_002_add_recordings.py
  apps/agent/src/adapters/outbound/__init__.py
  apps/agent/src/adapters/outbound/database.py
  apps/agent/src/adapters/outbound/postgres_recording.py
  apps/agent/src/application/ports/__init__.py
  apps/agent/src/application/ports/egress_port.py
  apps/agent/src/application/ports/recording_repository_port.py
  apps/agent/src/application/ports/storage_port.py
  apps/agent/src/application/use_cases/__init__.py
  apps/agent/src/application/use_cases/recording_service.py
  apps/agent/src/config/settings.py
  apps/agent/src/domain/entities/__init__.py
  apps/agent/src/domain/entities/recording.py
  apps/agent/tests/unit/test_recording.py
  apps/agent/tests/unit/test_recording_service.py
Due: lint-agent, format-agent, typecheck-agent
